name: Build and Release NativeAOT

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Publish NativeAOT
        run: dotnet publish FileCleaner.csproj -c Release -r win-x64 /p:PublishAot=true /p:OptimizationPreference=Size -o ./publish

      - name: Zip Release
        run: Compress-Archive -Path ./publish/* -DestinationPath FileCleaner_Win64.zip

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: FileCleaner_Win64.zip
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
